* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body,
div,
section,
figure,
p,
a,
img,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0; }

ul {
  list-style: none; }

li {
  display: inline-block;
  cursor: pointer; }

button {
  cursor: pointer; }

a {
  text-decoration: none; }

body {
  font-size: 1rem;
  font-family: "Hubballi", sans-serif;
  margin-bottom: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  line-height: normal; }
  body p {
    margin-block-start: 0;
    margin-block-end: 0; }
  body svg {
    vertical-align: 0; }
  body img {
    vertical-align: 0; }
  body .h1, body .h2, body .h3, body .h4, body .h5, body .h6, body h1, body h2, body h3, body h4, body h5, body h6 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: normal;
    margin-block-start: 0;
    margin-block-end: 0; }
  body .fa, body .fas {
    line-height: normal; }
  body ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0; }
  body figure {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0; }
  body button, body input, body optgroup, body select, body textarea {
    font-family: "Hubballi", sans-serif;
    font-size: 1rem;
    line-height: normal; }

.carousel .desktop {
  display: none; }

.carousel .mobile {
  display: block; }

@media only screen and (min-width: 660px) {
  .carousel .desktop {
    display: block; }
  .carousel .mobile {
    display: none; } }

.productos {
  max-width: 1200px; }
  .productos .producto {
    width: 27rem;
    height: auto;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    transition: all .4s ease-in-out; }
    .productos .producto:hover {
      transform: scale(1.01); }
    .productos .producto figure img {
      width: 100%;
      height: auto;
      border-top-left-radius: .25rem;
      border-top-right-radius: .25rem; }
    .productos .producto .productoBody {
      padding: 1rem; }
      .productos .producto .productoBody .tituloProducto {
        font-size: 1.9rem;
        font-weight: 500;
        margin-bottom: .5rem; }
      .productos .producto .productoBody .parrafoProducto {
        font-size: 1.4rem;
        line-height: 1.6rem;
        margin-bottom: .5rem; }
      .productos .producto .productoBody .precio {
        font-size: 1.4rem;
        margin-bottom: .5rem; }
      .productos .producto .productoBody .botonProducto {
        background-color: #cbbde2;
        color: #642b9a;
        width: 100%;
        padding: .7rem;
        border: none;
        font-size: 1.7rem;
        border-radius: .25rem; }
        .productos .producto .productoBody .botonProducto:hover {
          color: lavender; }

header nav {
  padding-left: 5rem;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #fdfdfd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 6.5rem;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1); }
  header nav .logo {
    width: auto;
    height: 80px; }
  header nav input {
    display: none; }
  header nav .fa-bars {
    display: none; }
  header nav .fa-times {
    display: none; }
  header nav .menu {
    margin-left: 25rem; }
    header nav .menu li {
      z-index: 1;
      font-size: 1.3rem;
      margin: .6rem; }
      header nav .menu li a {
        color: black; }
        header nav .menu li a:hover {
          color: #c7aef5; }
      header nav .menu li:hover > .submenu {
        visibility: visible;
        opacity: 1; }
      header nav .menu li .submenu {
        position: absolute;
        display: flex;
        flex-direction: column;
        visibility: hidden;
        opacity: 0;
        transition: .5s;
        background-color: #fdfdfd;
        padding-top: 1.5rem;
        box-shadow: 0 1.5px 0 0 rgba(0, 0, 0, 0.1); }
        header nav .menu li .submenu .outline {
          padding-top: 1.5rem;
          border-top: solid #CBB5F5 2px; }
        header nav .menu li .submenu li {
          margin: 1.1rem;
          padding: 0 .3rem; }
  header nav .carrito {
    padding: 0 5rem 0 1rem; }
    header nav .carrito a img {
      width: 26px;
      height: 26px; }

header h1 {
  margin-top: 6rem;
  padding: 2.4rem .625rem 2rem .625rem;
  text-align: center;
  font-weight: 400;
  font-size: 2.4rem;
  font-family: 'Architects Daughter', cursive;
  color: #b99def; }

@media only screen and (max-width: 56.99rem) {
  header nav {
    position: relative;
    position: fixed;
    z-index: 1;
    padding-left: 1.5rem; }
    header nav input[type="checkbox"] {
      position: absolute;
      box-sizing: border-box;
      margin-right: 2rem;
      right: 0;
      width: 48px;
      height: 48px;
      opacity: 0; }
    header nav input {
      display: block; }
      header nav input:checked ~ ul {
        position: fixed;
        display: block;
        top: 5.625rem;
        background-color: #fdfdfd;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
        right: 0;
        left: 0;
        padding: 0rem; }
        header nav input:checked ~ ul li {
          margin: 0rem;
          display: block;
          border-bottom: 0.1rem solid #CBB5F5;
          padding: 1.3rem 1.3rem 1.3rem 4.6rem; }
        header nav input:checked ~ ul .submenu {
          background-color: transparent;
          box-shadow: none;
          padding: 0;
          margin: 0; }
          header nav input:checked ~ ul .submenu .outline {
            padding-top: 1.5rem;
            border: none; }
          header nav input:checked ~ ul .submenu li {
            padding: 1.5rem 0 1rem 0;
            margin: 0rem;
            border-top: 0.1rem solid #CBB5F5;
            border-bottom: none; }
      header nav input:checked ~ .fa-bars {
        display: none; }
      header nav input:not(:checked) ~ .fa-times {
        display: none; }
    header nav .fa-bars {
      display: block;
      position: absolute;
      box-sizing: border-box;
      right: 0;
      padding-right: 4.5rem;
      width: 48px;
      height: 48px;
      font-size: 48px;
      pointer-events: none;
      color: #c7aef5; }
    header nav .fa-times {
      display: block;
      position: absolute;
      box-sizing: border-box;
      right: 0;
      padding-right: 4.5rem;
      width: 48px;
      height: 48px;
      font-size: 48px;
      pointer-events: none;
      color: #c7aef5; }
    header nav .menu {
      display: none; }
      header nav .menu > li:hover > .submenu {
        position: relative; }
    header nav .carrito {
      padding-right: 6rem; } }

@media only screen and (min-width: 57rem) and (max-width: 1260px) {
  header nav {
    padding-left: 2rem; }
    header nav .menu {
      margin-left: 9rem; }
    header nav .carrito {
      padding-right: 2rem; } }
